<h1>Pages#contact</h1>

<p><%= number_to_phone "6666666666" %></p>

<p><%= number_to_currency "666" %></p>

<p><%= number_to_percentage "34.5699" %></p>

<p><%= number_with_delimiter "138579872" %></p>
